@import "/src/styles/mixins.scss";

body {
  background-color: $base-color;
}

.App {
  @include panel;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 25px;
  font-family: sans-serif;
  color: $white;

  & > * + * {
    margin-top: 25px;
  }
}