@import "/src/styles/mixins.scss";

@font-face {
  font-family: "Genesys";
  src: url("/src/fonts/genesysglyphsanddice.woff2") format("woff2"),
    url("/src/fonts/genesysglyphsanddice.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $base-color;
  color: #eee;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;

  & > * + * {
    margin-top: 25px;
  }
}