@import "/src/styles/mixins.scss";

.DiceResults {
  @include cutout;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
}
