@import "/src/styles/mixins.scss";

.DiceBox {
  @include cutout;
  width: 100%;
  height: 200px;
  padding: 7.5px;
  display: flex;
  overflow: auto;

  .dice-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}
