@import "/src/styles/mixins.scss";

.DiceControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .add-dice-buttons,
  .roll-dice-buttons {
    display: flex;
  }

  .roll-dice-buttons {
    margin-top: 25px;
  }

  button {
    @include button;
    margin: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.roll,
    &.clear {
      width: 100px;
      font-size: 20px;
    }

    &.add {
      width: 50px;
      font-size: 40px;
      font-family: "Genesys";
      -webkit-text-stroke: 0.075em black;

      &.ability {
        &::before {
          content: "k";
        }
        color: $ability-color;
      }

      &.proficiency {
        &::before {
          content: "l";
        }
        color: $proficiency-color;
      }

      &.boost {
        &::before {
          content: "j";
        }
        color: $boost-color;
      }

      &.difficulty {
        &::before {
          content: "k";
        }
        color: $difficulty-color;
      }

      &.challenge {
        &::before {
          content: "l";
        }
        color: $challenge-color;
      }

      &.setback {
        &::before {
          content: "j";
        }
        color: $setback-color;
      }
    }
  }
}
