@import "/src/styles/mixins.scss";

.DiceControls {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;

  button {
    @include button;
    font-size: 20px;

    .Symbol {
      font-size: 35px;
    }

    &.clear,
    &.roll {
      grid-column: span 5;
    }

    &.add {
      grid-column: span 2;
    }
  }
}
