@import "/src/styles/mixins.scss";

.DiceControls {
  display: grid;
    grid: repeat(3, 1fr) / repeat(6, 1fr);
    gap: 10px;
    width: 100%;

  button {
    @include button;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.roll,
    &.clear {
      font-size: 20px;
      grid-column: span 3;
    }

    &.add {
      grid-column: span 2;
      font-size: 40px;
      font-family: "Genesys";
      -webkit-text-stroke: 0.075em black;

      &.ability {
        &::before {
          content: "k";
        }
        color: $ability-color;
      }

      &.proficiency {
        &::before {
          content: "l";
        }
        color: $proficiency-color;
      }

      &.boost {
        &::before {
          content: "j";
        }
        color: $boost-color;
      }

      &.difficulty {
        &::before {
          content: "k";
        }
        color: $difficulty-color;
      }

      &.challenge {
        &::before {
          content: "l";
        }
        color: $challenge-color;
      }

      &.setback {
        &::before {
          content: "j";
        }
        color: $setback-color;
      }
    }
  }
}
