@import "/src/styles/mixins.scss";

.GenesysDie {
  position: relative;
  height: 1em;
  width: 1em;
  margin: 2.5px;
  background: no-repeat center/contain;
  font-size: 50px;
  user-select: none;
  cursor: pointer;

  &:hover {
    opacity: 50%;
  }

  .Symbol {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &.success,
  &.advantage,
  &.failure,
  &.threat {
    @include panel;
    border-radius: 50%;
    background-color: $white;
    
    .Symbol {
      top: 50%;
      left: 50%;
      font-size: 60%;
    }
  }

  &.success,
  &.advantage,
  &.failure,
  &.threat,
  &.ability,
  &.proficiency,
  &.boost {
    .Symbol {
      color: $black;
    }
  }

  &.ability,
  &.difficulty {
    .Symbol {
      &:first-child {
        top: 32.5%;
        left: 50%;
        font-size: 30%;
      }

      &:last-child {
        top: 60%;
        left: 50%;
        font-size: 30%;
      }

      &:only-child {
        top: 50%;
        left: 50%;
        font-size: 50%;
      }
    }
  }

  &.proficiency,
  &.challenge {
    .Symbol {
      &:first-child {
        top: 35%;
        left: 50%;
        font-size: 30%;
      }

      &:last-child {
        top: 62.5%;
        left: 50%;
        font-size: 30%;
      }

      &:only-child {
        top: 50%;
        left: 50%;
        font-size: 50%;
      }
    }
  }

  &.boost,
  &.setback {
    .Symbol {
      &:first-child {
        top: 37.5%;
        left: 37.5%;
        font-size: 40%;
      }

      &:last-child {
        top: 62.5%;
        left: 62.5%;
        font-size: 40%;
      }

      &:only-child {
        top: 50%;
        left: 50%;
        font-size: 60%;
      }
    }
  }

  &.ability {
    background-image: url("/src/images/ability.svg");
  }

  &.proficiency {
    background-image: url("/src/images/proficiency.svg");
  }

  &.boost {
    background-image: url("/src/images/boost.svg");
  }

  &.difficulty {
    background-image: url("/src/images/difficulty.svg");
  }

  &.challenge {
    background-image: url("/src/images/challenge.svg");
  }

  &.setback {
    background-image: url("/src/images/setback.svg");
  }
}
