$base-color: #555;
$light-color: lighten($base-color, 10%);
$dark-color: darken($base-color, 20%);
$black: #111;
$white: #eee;

$ability-color: #60AA55;
$proficiency-color: #FEF151;
$boost-color: #87CBDA;
$difficulty-color: #4B2879;
$challenge-color: #6D1C19;
$setback-color: #212121;

@mixin cutout {
  border-style: solid;
  border-width: 2px;
  border-color: $dark-color $light-color $light-color $dark-color;
}

@mixin button {
  border-style: solid;
  border-width: 2px;
  border-color: $light-color $dark-color $dark-color $light-color;

  &:active {
    border-color: $dark-color $light-color $light-color $dark-color;
  }
}
