@font-face {
  font-family: 'Genesys';
  src: url('/src/fonts/genesysglyphsanddice.woff2') format('woff2'),
        url('/src/fonts/genesysglyphsanddice.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.GenesysDie {
  position: relative;
  font-size: 75px;
  height: 1em;
  width: 1em;
  background: no-repeat center/contain;
  user-select: none;
  cursor: pointer;

  &.ability {
    background-image: url("/src/images/ability.svg");
  }

  &.proficiency {
    background-image: url("/src/images/proficiency.svg");
  }

  &.boost {
    background-image: url("/src/images/boost.svg");
  }

  &.difficulty {
    background-image: url("/src/images/difficulty.svg");
  }

  &.challenge {
    background-image: url("/src/images/challenge.svg");
  }

  &.setback {
    background-image: url("/src/images/setback.svg");
  }

  .symbol {
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'Genesys';
    -webkit-font-smoothing: antialiased;
  }

  &.ability,
  &.proficiency,
  &.boost {
    .symbol {
      color: #000;
    }
  }

  &.difficulty,
  &.challenge,
  &.setback {
    .symbol {
      color: #fff;
    }
  }

  &.ability,
  &.difficulty {
    .symbol {  
      &:first-child {
        top: 32.5%;
        left: 50%;
        font-size: 30%;
      }
  
      &:last-child {
        top: 60%;
        left: 50%;
        font-size: 30%;
      }
  
      &:only-child {
        top: 50%;
        left: 50%;
        font-size: 50%;
      }
    }
  }

  &.proficiency,
  &.challenge {
    .symbol {  
      &:first-child {
        top: 35%;
        left: 50%;
        font-size: 30%;
      }
  
      &:last-child {
        top: 62.5%;
        left: 50%;
        font-size: 30%;
      }
  
      &:only-child {
        top: 50%;
        left: 50%;
        font-size: 50%;
      }
    }
  }

  &.boost,
  &.setback {
    .symbol {
      &:first-child {
        top: 37.5%;
        left: 37.5%;
        font-size: 40%;
      }
  
      &:last-child {
        top: 62.5%;
        left: 62.5%;
        font-size: 40%;
      }
  
      &:only-child {
        top: 50%;
        left: 50%;
        font-size: 60%;
      }
    }
  }
}